// 颜色
$lx-color-text-primary: #34495e;
$lx-color-text-secondary: rgba(69, 90, 100, 0.6);
$lx-color-bg-main: #fff;
$lx-color-bg-menu: #112f50;
$lx-color-border-default: #f1f4f8;
$lx-color-brand-purple: #5758bb;
$lx-color-brand-fuchsia: #a7419e;
$lx-color-neutral-grey: #999;
$lx-color-neutral-dark: #666;
$lx-color-neutral-light: #ccc;
$lx-color-code-text: #455a64;
$lx-color-code-bg: #f1f4f8;

// 字体
$lx-font-family-code: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;

// 间距
$lx-spacing-default: 30px;

// 尺寸
$lx-width-row-max: 1680px;
$lx-width-nav: 220px;

